:root {
  --primary-color: #012f6d;
  --accent-color: #F2E8CF;
  --font: 'Segoe UI', Tahoma, sans-serif;
}

* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: var(--font);
  color: #333;
  line-height: 1.6;
}

header {
  background: #d6eaf2;
  text-align: center;
  padding: 2rem 1rem;
}

header {
  background: url('/deck_background.png') no-repeat center center;
  text-align: center;
  padding: 2rem 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.hero {
  margin-top: 2rem;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 2.6rem;
  color: var(--primary-color);
}

.hero p {
  margin: 1rem 0;
  margin-bottom: 2.5rem;
  font-size: 25px;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
}

.section {
    padding: 4rem 1rem;
    max-width: 1260px;
    margin: 0 auto;
}

.product-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: var(--accent-color);
  padding: 1rem;
  border-radius: 8px;
  width: 260px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 4px;
}

.btn-secondary {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: .7rem 1.2rem;
  border-radius: 4px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.logo{
  height: 90px;
}

/* top hero slider */

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1160px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 630px;
  text-align: left;
}

.hero-slider {
  flex: 1;
  min-width: 280px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  height: 450px;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slider-img.active {
  opacity: 1;
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons button {
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

/* our product section */
h2.product-header {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.product-cards {
  display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card.ori {
    background: #05aac9;
    border: 1px solid #05aac9;
}

.ori h3 {
    color: white!important;
}

.ori p {
    color: #fff0f0!important;
}

.product-card.choco {
    background: #633a1c;
    border: 1px solid #633a1c;
}

.choco h3 {
    color: white!important;
}

.choco p {
    color: #fff0f0!important;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
    width: 360px;
    height: 420px;
    margin-bottom: 1rem;
}

.product-card h3 {
  margin-top: 0.5rem;
  color: var(--primary-color);
}

.product-card p {
  color: #555;
  font-size: 0.95rem;
}

/* why rice up section
 */
.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}

.about-image {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 24px;
  opacity: 0;
  transform: translateX(-40px);
  animation: fadeInLeft 1s ease forwards;
}

.about-text {
  flex: 1;
  min-width: 280px;
}

.about-text h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

/* Animation for fade in from left */
@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* analytic section */
.impact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
}

.impact-item h3 {
  font-size: 3.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.impact-item p {
  font-size: 1.3rem;
    color: #7a7a7a;
  margin: 0;
}

/* MOBILE RESPONSIVE LAYOUT */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    min-width: auto;
    text-align: center;
  }

  .hero-slider {
    min-width: auto;
    width: 100%;
    height: auto;
  }

  .slider-wrapper {
    height: 250px;
  }

  .product-cards {
    flex-direction: column;
    align-items: center;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 100%;
  }

  .impact-grid {
    grid-template-columns: 1fr;
  }

  .product-card {
    width: 90%;
  }

  .logo {
    height: 70px;
  }

   .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 18px;
  } 

  .hero-content {
  flex-direction: column-reverse;
}

  .btn-primary {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}


/* eve_test */
@media (min-width: 1200px) {
    .sppb-row-container {
        width: 1170px;
    }
}
@media (min-width: 992px) {
    .sppb-row-container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .sppb-row-container {
        width: 750px;
    }
}
.sppb-row-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1400px) {
    .sppb-row-container {
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {
    .sppb-row-container {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .sppb-row-container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .sppb-row-container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .sppb-row-container {
        max-width: 540px;
    }
}

.sp-pagebuilder-row, .sppb-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#column-wrap-id-1588219285369 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (min-width: 992px) {
    .sppb-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 768px) {
    .sppb-col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.sppb-col, .sppb-col-auto, .sppb-col-lg, .sppb-col-lg-1, .sppb-col-lg-10, .sppb-col-lg-11, .sppb-col-lg-12, .sppb-col-lg-2, .sppb-col-lg-3, .sppb-col-lg-4, .sppb-col-lg-5, .sppb-col-lg-6, .sppb-col-lg-7, .sppb-col-lg-8, .sppb-col-lg-9, .sppb-col-lg-auto, .sppb-col-md, .sppb-col-md-1, .sppb-col-md-10, .sppb-col-md-11, .sppb-col-md-12, .sppb-col-md-2, .sppb-col-md-3, .sppb-col-md-4, .sppb-col-md-5, .sppb-col-md-6, .sppb-col-md-7, .sppb-col-md-8, .sppb-col-md-9, .sppb-col-md-auto, .sppb-col-sm, .sppb-col-sm-1, .sppb-col-sm-10, .sppb-col-sm-11, .sppb-col-sm-12, .sppb-col-sm-2, .sppb-col-sm-3, .sppb-col-sm-4, .sppb-col-sm-5, .sppb-col-sm-6, .sppb-col-sm-7, .sppb-col-sm-8, .sppb-col-sm-9, .sppb-col-sm-auto, .sppb-col-xl, .sppb-col-xl-1, .sppb-col-xl-10, .sppb-col-xl-11, .sppb-col-xl-12, .sppb-col-xl-2, .sppb-col-xl-3, .sppb-col-xl-4, .sppb-col-xl-5, .sppb-col-xl-6, .sppb-col-xl-7, .sppb-col-xl-8, .sppb-col-xl-9, .sppb-col-xl-auto, .sppb-col-xs-1, .sppb-col-xs-10, .sppb-col-xs-11, .sppb-col-xs-12, .sppb-col-xs-2, .sppb-col-xs-3, .sppb-col-xs-4, .sppb-col-xs-5, .sppb-col-xs-6, .sppb-col-xs-7, .sppb-col-xs-8, .sppb-col-xs-9, .sppb-row-column {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#column-id-1588219285369 {
    border-radius: 0px;
}
.sppb-column {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sppb-column, .sppb-column-addons {
    position: relative;
    z-index: 1;
    width: 100%;
}
#sppb-addon-wrapper-1687404315038, #sppb-addon-wrapper-nkRGQh5sx_QYMurOjMr0s, #sppb-addon-wrapper-hxQ90XlRF0_9vhx-gY47W, #sppb-addon-wrapper-JlallhMshz8bHdO1vHxhd {
    margin-bottom: 30px;
}

.sppb-addon-single-image-container {
    display: inline-block;
    position: relative;
    transition: all .4s ease;
}

#sppb-addon-1687404315038 .sppb-img-responsive {
    object-fit: cover;
}
#sppb-addon-1687404315038 img {
    border-radius: 15px;
    height: 260px;
}
.sppb-addon-single-image .sppb-img-responsive, .sppb-text-center .sppb-img-responsive, .sppb-text-left .sppb-img-responsive, .sppb-text-right .sppb-img-responsive {
    display: inline-block;
}
.sppb-carousel-inner>.sppb-item>a>img, .sppb-carousel-inner>.sppb-item>img, .sppb-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}

#column-wrap-id-1588219285370 {
    max-width: 25%;
    flex-basis: 25%;
}
@media (min-width: 992px) {
    .sppb-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (min-width: 768px) {
    .sppb-col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
#column-id-1588219285370 {
    border-radius: 0px;
}
.sppb-column {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sppb-column, .sppb-column-addons {
    position: relative;
    z-index: 1;
    width: 100%;
}
